<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>

<body>

<div class="is-container">
    <div class="is-flex">
        <div class="is-card is-perfectly-centered" th:each="animal : ${animals}">
            <div>
            <img class="is-card-img" th:src=${animal.imageUrl} width="100%">
            </div>
            <div>

            <h3 th:text="${animal.name}">

            </h3>
            </div>
        </div>
    </div>


</div>

</body>

</html>